{{yield}}

{{#each model.entry as |item|}}

			<row>
			<div class="col-3">
			<article action="refreshData" class="beer-listing">

				<h3>{{item.productTitle}}</h3>

				<img src="{{item.itemImage}}" alt="" height="42" width="42">
			    <div class="beer stock">
			      <span>Stock:</span> {{item.stock}}
			    </div>
			    <div class="beer price">
			      <span>Price:</span> {{item.price}}
			    </div>
			</article>
			</div>
			</row>

{{/each}}
