{{outlet}}

{{#each model.entry as |beer|}}

	<row>
	<div class="col-3">
	<article class="beer-listing">

		<h3>{{beer.productTitle}}</h3>

		<img src="{{beer.itemImage}}" alt="" height="42" width="42">
	    <div class="beer stock">
	      <span>Stock:</span> {{beer.stock}}
	    </div>
	    <div class="beer price">
	      <span>Price:</span> {{beer.price}}
	    </div>
	</article>
	</div>
	</row>

{{/each}}

