{{outlet}}

<div class="outer row">
	<div class="col-4">
	<div class="intro">
		<h3>Hello, Beer Shop Owner!</h3>
		<p>1. Please start with adding some <b>inventory</b> items </p>
		<p>2. After that, feel free to create your first {{#link-to 'new-order'}}<button>ORDER</button>{{/link-to}}</p>
	</div>
	</div>
	<div class="new-entry-container">
		<div id="entry-form">
			
			<form id="new-entry">
			<h3>Inventory: </h3>
				<div class="row first-line">
	      			<div class="input-item">
						
						{{input id="productTitle" type="text" class="product-title" placeholder="BEER NAME"}}
					</div>

					<div class="input-item">	
						
						
						{{input id="stock" type="text" placeholder="STOCK" class="product-stock"}} 
					</div>

					<div class="input-item">					
						
						{{input id="price" type="text" class="product-price" placeholder="PRICE [€]"}}
					</div>
				
					<div class="input-item">	
				
						{{input id="itemImage" type="text" placeholder="BEER IMAGE URL"}}
					</div>
					<button {{action "saveEntry" post}} type="submit" class="save-entry">Add another</button>	
				</div>	

				
				
			</form>
		</div>
	</div>	
</div>



		{{outlet}}
	<div class="all-beers">
	{{#each model.entry as |item|}}
			<row>
			<div class="col-3">
			<article class="beer-listing">

				<h3>{{item.productTitle}}</h3>

				<img src="{{item.itemImage}}" alt="" height="42" width="42">
			    <div class="beer stock">
			      <span>Stock:</span> {{item.stock}}
			    </div>
			    <div class="beer price">
			      <span>Price:</span> {{item.price}} €
			    </div>
			    
			</article>
			</div>
			</row> 

		{{/each}} 
	</div>


		
	



