{{outlet}}

<div class="intro">
	<h2>Hello, Primož!</h2>

	<p>Welcome to your super trouper beer shop app!</p>
	<p>Please start by adding some beers to the inventory!</p>
</div>

<div class="new-entry-container">
	<form id="entry-form">
	
		<form class="new-entry">
			<div class="row first-line">
      			<div class="col-3">
					
					{{input id="productTitle" type="text" class="product-title" placeholder="Beer name"}}
				</div>
				<div class="col-3">	
					
					
					{{input id="stock" type="text" placeholder="Beer stock" class="product-stock"}} 
				</div>
				<div class="col-3">					
					
					{{input id="price" type="text" class="product-price" placeholder="Beer price [€]"}}
				</div>
			
				<div class="col-3">	
			
					{{input id="itemImage" type="text" placeholder="Beer Image"}}
				</div>	
			</div>	

			<button {{action "saveEntry" post}} type="submit" class="save-entry">Add another</button>
			
		</form>

		{{#each model.entry as |item|}}

			<row>
			<div class="col-3">
			<article class="beer-listing">

				<h3>{{item.productTitle}}</h3>

				<img src="{{item.itemImage}}" alt="" height="42" width="42">
			    <div class="beer stock">
			      <span>Stock:</span> {{item.stock}}
			    </div>
			    <div class="beer price">
			      <span>Price:</span> {{item.price}}
			    </div>
			</article>
			</div>
			</row>

		{{/each}}


		
	</form>

</div>



