{{outlet}}


 
<div class="row form-container">
  
  
  <div class="col-6 form-wrapper">
    <form id="myForm">
      <div class="row">

        <div class="col-6">
            <label class="label-order" for="name_">Select beer from dropdown: </label>
      
            <select id="productTitleDropDown">
             {{#each model.entry as |item|}} 
                <option>{{item.productTitle}}</option>
              {{/each}}
            </select>
        </div>
          
        <div class="col-6"> 
              <label class="lower-label">Quantity: </label>
            
              {{input class='form-control' name="noOfBeers" id="quantity"}}
              <button {{action "saveItem"}} >Confirm</button>
        </div>

      </div>
     </form>  
    </div>
   


  <div class="col-6">
    
    
  </div>
</div>

<table>
      <tr>
        <th>Item</th>
        <th>Quantity</th> 
        <th>Subtotal</th>
      </tr>
      <p>whatever</p>
      {{#each model.order as |item|}}
        <tr>

          <td>{{item.beerTitle}}</td>
          <td>{{item.quantity}}</td> 
          <td>{{multiply item.quantity item.price }}</td>
        </tr>
      {{/each}}
      
    </table>
